In [274]:
import os
import sys
import math as m
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import cm
from scipy import stats

plt.style.use('ggplot')

from sqlalchemy import *
from sqlalchemy import create_engine
engine = create_engine('postgresql://wenfei:xj32MYNt3q4jaH@52.23.144.14:5432/stl')
# engine = create_engine('postgresql://mike:pbkqa0pfjd@52.23.144.14:5432/stl')

In [59]:
## Create inspector for metadata
inspector = inspect(engine)
print inspector.get_table_names()

[u'fangprojcode', u'spatial_ref_sys', u'fanglisting', u'fanglistingstatus', u'apartmentsforrent', u'apartmentsforrentrecords', u'apartmentsforsale', u'apartmentsforsalerecords', u'apartmentsforsublet', u'cd_residentialgrids_nearest_10_dianping_grocery_poi_table', u'apartmentsforsubletrecords', u'roomforshortrental', u'roomforshortrentalrecords', u'dianpingbusiness_old', u'fanglisting_geom', u'shanghai_fishnet_quarterkm_WGS', u'fanglisting_1203_1210', u'fanglisting_1203_1210_valid', u'fanglisting_1203_1210_psm_community', u'cd_residentialgrids_nearest_5_dianping_malls_poi_table', u'fanglisting_nov_uniq', u'chengdu_fishnet_quarterkm_WGS', u'fanglisting_nov_dups_uniq', u'fanglisting_nov_dup_pairs_old', u'fanglisting_nov_dup_pairs', u'fanglisting_nov_dup', u'fangtransaction', u'fanglistingcommunity', u'fangprojcodecoords', u'fang_listing_txn_community_t', u'amap_poi_search_fishnet', u'amap_poi_search_status', u'amap_poi_info', u'amap_poi_info_extended_raw', u'dianpingbusiness', u'baidu_poi_search_fishnet', u'baidu_poi_search_status', u'amap_poi_polygon', u'amap_poi_polygon_status', u'baidu_poi_polygon_status', u'baidu_poi_polygon', u'cd_residentialgrids', u'baidu_poi_info', u'cd_residentialgrids_nearest_1_dianping_malls_poi_distance', u'cd_residentialgrids_nearest_20_dianping_beauty_poi_table', u'cd_residentialgrids_nearest_2_dianping_medical_poi_distance', u'cd_residentialgrids_centroids', u'fanglisting_nov_pruned', u'cd_residentialgrids_contains_fang', u'cd_residentialgrids_contains_fang_buffer', u'cd_residentialgrids_intersects_amap_polygon', u'cd_residentialgrids_contains_amap_point', u'cd_residentialgrids_selected', u'cd_residentialgrids_nearest_5_dianping_grocery_poi_table', u'cd_residentialgrids_nearest_2_dianping_grocery_poi_distance', u'cd_residentialgrids_nearest_5_dianping_banks_poi_table', u'cd_residentialgrids_nearest_2_dianping_banks_poi_distance', u'cd_residentialgrids_nearest_20_dianping_educational_poi_table', u'cd_residentialgrids_nearest_2_dianping_university_poi_table', u'cd_residentialgrids_nearest_1_dianping_university_poi_distance', u'cd_residentialgrids_nearest_2_dianping_educational_poi_distance', u'cd_residentialgrids_nearest_20_dianping_medical_poi_table', u'cd_residentialgrids_nearest_1_dianping_medical_poi_distance', u'cd_residentialgrids_nearest_5_dianping_beauty_poi_distance']

In [233]:
## Import resi grids

CD_Grids = pd.read_sql_query('SELECT * FROM cd_residentialgrids_selected',con=engine)

In [238]:
## Show distribution of distances for Medical
grids_medical = pd.read_sql_query('SELECT * FROM cd_residentialgrids_nearest_2_dianping_medical_poi_distance',con=engine)


data = sorted(grids_medical.min_distance)

# plt.scatter(range(0,len(data),1), data,marker ='o', s=30, linewidth = 0.15, color='darkblue', facecolor="none",alpha=0.8)
plt.hist(data,bins=100,color='darkblue')
plt.plot((1700,1700),(0,1000),'r--')
# plt.plot((0, 1000), (13000, 13000), 'r--')
# plt.xlabel('')
plt.ylabel('Frequency')
plt.xlabel('Distance in Meters')
plt.title('Distribution of Nearest Hospital Distances, Threshold = 1.7km')
plt.tight_layout()
plt.show()

In [241]:
## Show distribution of distances for University
grids_university = pd.read_sql_query('SELECT * FROM cd_residentialgrids_nearest_1_dianping_university_poi_distance',con=engine)


data = sorted(grids_university.min_distance)

# plt.scatter(range(0,len(data),1), data,marker ='o', s=30, linewidth = 0.15, color='darkblue', facecolor="none",alpha=0.8)
plt.hist(data,bins=100,color='darkblue')
plt.plot((2500,2500),(0,1000),'r--')
# plt.plot((0, 20000), (6500, 6500), 'r--')
# plt.xlabel('')
plt.ylabel('Frequency')
plt.xlabel('Distance in Meters')
plt.title('Distribution of Nearest University Distances, Threshold = 2.5km')
plt.tight_layout()
plt.show()

In [244]:
## Show distribution of distances for Malls
grids_malls = pd.read_sql_query('SELECT * FROM cd_residentialgrids_nearest_1_dianping_malls_poi_distance',con=engine)


data = sorted(grids_malls.min_distance)

# plt.scatter(range(0,len(data),1), data,marker ='o', s=30, linewidth = 0.15, color='darkblue', facecolor="none",alpha=0.8)
plt.hist(data,bins=100,color='darkblue')
plt.plot((2500,2500),(0,1000),'r--')
# plt.plot((0, 20000), (5000, 5000), 'r--')
# plt.xlabel('')
plt.ylabel('Frequency')
plt.xlabel('Distance in Meters')
plt.title('Distribution of Nearest Malls Distances, Threshold = 2.5km')
plt.tight_layout()
plt.show()

In [247]:
## Show distribution of distances for Groceries
grids_grocery = pd.read_sql_query('SELECT * FROM cd_residentialgrids_nearest_2_dianping_grocery_poi_distance',con=engine)


data = sorted(grids_grocery.min_distance)

# plt.scatter(range(0,len(data),1), data,marker ='o', s=30, linewidth = 0.15, color='darkblue', facecolor="none",alpha=0.8)
plt.hist(data,color='darkblue',bins = 100)
plt.plot((1500,1500),(0,1000),'r--')
# plt.plot((0, 20000), (3500, 3500), 'r--')
# plt.xlabel('')
plt.ylabel('Frequency')
plt.xlabel('Distance in Meters')
plt.title('Distribution of Nearest Grocery Store Distances, Threshold = 1.5km')
plt.tight_layout()
plt.show()

In [248]:
## Show distribution of distances for Schools
grids_schools = pd.read_sql_query('SELECT * FROM cd_residentialgrids_nearest_2_dianping_educational_poi_distance',con=engine)


data = sorted(grids_schools.min_distance)

# plt.scatter(range(0,len(data),1), data,marker ='o', s=30, linewidth = 0.15, color='darkblue', facecolor="none",alpha=0.8)
plt.hist(data,color='darkblue',bins = 100)
plt.plot((2000,2000),(0,1000),'r--')
# plt.plot((0, 20000), (5000, 5000), 'r--')
# plt.xlabel('')

plt.ylabel('Frequency')
plt.xlabel('Distance in Meters')
plt.title('Distribution of Nearest Schools Distances, Threshold = 2km')
plt.tight_layout()
plt.show()

In [250]:
## Show distribution of distances for Banks
grids_banks = pd.read_sql_query('SELECT * FROM cd_residentialgrids_nearest_2_dianping_banks_poi_distance',con=engine)


data = sorted(grids_banks.min_distance)

# plt.scatter(range(0,len(data),1), data,marker ='o', s=30, linewidth = 0.15, color='darkblue', facecolor="none",alpha=0.8)
plt.hist(data,color='darkblue',bins = 100)
plt.plot((2000,2000),(0,1000),'r--')
# plt.plot((0, 20000), (4000, 4000), 'r--')
# plt.xlabel('')
plt.ylabel('Frequency')
plt.xlabel('Distance in Meters')
plt.title('Distribution of Nearest Banks Distances, Threshold = 2km')
plt.tight_layout()
plt.show()

In [282]:
## Show distribution of distances for Salons
grids_salons = pd.read_sql_query('SELECT * FROM cd_residentialgrids_nearest_1_dianping_beauty_poi_distance',con=engine)


data = sorted(grids_salons.min_distance)

# plt.scatter(range(0,len(data),1), data,marker ='o', s=30, linewidth = 0.15, color='darkblue', facecolor="none",alpha=0.8)
plt.hist(data,color='darkblue',bins = 100)
plt.plot((700,700),(0,1700),'r--')
# plt.plot((0, 20000), (4000, 4000), 'r--')
# plt.xlabel('')
plt.ylabel('Frequency')
plt.xlabel('Distance in Meters')
plt.title('Distribution of Nearest Salons Distances, Threshold = 700m')
plt.tight_layout()
plt.show()

In [280]:
## Show distribution of distances for Restaurants
grids_restaurants = pd.read_sql_query('SELECT * FROM cd_residentialgrids_nearest_5_dianping_restaurants_poi_distance',con=engine)


data = sorted(grids_restaurants.min_distance)

# plt.scatter(range(0,len(data),1), data,marker ='o', s=30, linewidth = 0.15, color='darkblue', facecolor="none",alpha=0.8)
plt.hist(data,color='darkblue',bins = 100)
plt.plot((200,200),(0,1700),'r--')
# plt.plot((0, 20000), (4000, 4000), 'r--')
# plt.xlabel('')
plt.ylabel('Frequency')
plt.xlabel('Distance in Meters')
plt.title('Distribution of Nearest Restaurants Distances, Threshold = 200m')
plt.tight_layout()
plt.show()

In [ ]:
## Clean up grid dataset
CD_Grids_new = CD_Grids.drop(['FID_1_1','ID','Count_1','X_MIN','X_MAX','Y_MIN','Y_MAX','Sum_FISH_1','Sum_GCJ0_2','Sum_GCJ0_3','Sum_FISHNE','Sum_GCJ02_','Sum_GCJ0_1','the_geom'],1)
CD_Grids_new.columns = ['gid','FID','Count','Resi','Resi_neighbor','Neighbor_FID']
CD_Grids_new.head()

In [283]:
## Find cell GIDs for those under the threshold 

thresholds_cat = ['medical','university','malls','grocery','schools','banks','salons','restaurants']
thresholds = [1700,2500,2500,1500,2000,2000,700,200] 

# oldcolumns =  CD_Grids_new.columns.values.tolist()

# CD_Grids_new_test= CD_Grids_new.reindex(columns=list(oldcolumns.extend(thresholds_cat)),fill_value=0)  

for eachlimit,limitcat in zip(thresholds,thresholds_cat): ## Mark all those within the limit
    CD_Grids_new[limitcat] = 0
    CD_Grids_new.ix[CD_Grids_new['gid'].isin(eval("grids_%s"%limitcat)[eval("grids_%s"%limitcat).min_distance <=eachlimit].gid.values),limitcat]=1
#     CD_Grids_new.ix[CD_Grids_new['gid'].isin(grids_medical[grids_medical.min_distance <=eachlimit].gid.values)],limitcat]=1
    
# df.ix[df.A==0, 'B'] 
#     underthreshold =CD_Grids[CD_Grids['gid'].isin(grids_medical[grids_medical.min_distance <=eachlimit].gid.values)].gid

In [284]:
CD_Grids_new.to_csv('/Users/wenfeixu/Dropbox (MIT)/MIT/CDDL/STL_WeChatProject/0_data/working_wenfei/CD_Grids_results_jan31.csv',encoding='utf-8')

In [285]:
CD_Grids_new[CD_Grids_new.medical ==1]

,gid,FID,Count,Resi,Resi_neighbor,Neighbor_FID,medical,university,malls,grocery,schools,banks,salons,restaurants
2049,10160,10159,1,1,1,"[10157, 10158, 10160, 10161, 9901, 9902, 9903,...",1,0,1,0,1,0,0,1
2050,10161,10160,0,0,1,none,1,1,1,1,1,0,0,0
2051,10162,10161,0,0,1,none,1,1,1,1,1,0,0,0
2052,10163,10162,0,0,1,none,1,1,1,0,1,0,0,0
2053,10164,10163,1,1,1,"[10161, 10162, 10164, 10165, 9905, 9906, 9907,...",1,1,1,0,1,0,0,0
2117,10415,10414,3,1,1,"[10412, 10413, 10415, 10416, 10156, 10157, 101...",1,0,1,1,1,0,0,1
2118,10416,10415,0,0,1,none,1,0,1,1,1,0,0,1
2119,10417,10416,1,1,1,"[10414, 10415, 10417, 10418, 10158, 10159, 101...",1,1,1,1,1,0,0,0
2120,10418,10417,0,0,1,none,1,1,1,1,1,0,0,1
2121,10419,10418,0,0,1,none,1,1,1,1,1,0,0,1
2122,10420,10419,0,0,1,none,1,1,1,1,1,0,0,0
2123,10421,10420,0,0,1,none,1,1,1,0,1,0,0,0
2124,10422,10421,0,0,1,none,1,1,1,0,1,0,0,1
2202,10670,10669,0,0,1,none,1,0,1,1,1,0,0,0
2203,10671,10670,6,1,1,"[10668, 10669, 10671, 10672, 10412, 10413, 104...",1,0,1,1,1,0,0,1
2204,10672,10671,0,0,1,none,1,1,1,1,1,0,0,1
2205,10673,10672,1,1,1,"[10670, 10671, 10673, 10674, 10414, 10415, 104...",1,1,1,1,1,0,1,0
2206,10674,10673,0,0,1,none,1,1,1,1,1,0,1,1
2207,10675,10674,5,1,1,"[10672, 10673, 10675, 10676, 10416, 10417, 104...",1,1,1,1,1,0,1,1
2208,10676,10675,3,1,1,"[10673, 10674, 10676, 10677, 10417, 10418, 104...",1,1,1,1,1,0,0,1
2209,10677,10676,2,1,1,"[10674, 10675, 10677, 10678, 10418, 10419, 104...",1,1,1,1,1,0,0,0
2210,10678,10677,1,1,1,"[10675, 10676, 10678, 10679, 10419, 10420, 104...",1,1,1,0,1,0,0,0
2293,10925,10924,0,0,1,none,1,0,1,1,1,0,0,0
2294,10926,10925,0,0,1,none,1,0,1,1,1,0,1,0
2295,10927,10926,6,1,1,"[10924, 10925, 10927, 10928, 10668, 10669, 106...",1,0,1,1,1,0,1,0
2296,10928,10927,3,1,1,"[10925, 10926, 10928, 10929, 10669, 10670, 106...",1,1,1,1,1,0,1,1
2297,10929,10928,1,1,1,"[10926, 10927, 10929, 10930, 10670, 10671, 106...",1,1,1,1,1,0,1,1
2298,10930,10929,7,1,1,"[10927, 10928, 10930, 10931, 10671, 10672, 106...",1,1,1,1,1,0,1,1
2299,10931,10930,9,1,1,"[10928, 10929, 10931, 10932, 10672, 10673, 106...",1,1,1,1,1,0,1,1
2300,10932,10931,3,1,1,"[10929, 10930, 10932, 10933, 10673, 10674, 106...",1,1,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17023,42127,42126,0,0,1,none,1,0,1,1,1,1,1,1
17024,42128,42127,3,1,1,"[42125, 42126, 42128, 42129, 41869, 41870, 418...",1,0,1,1,1,1,1,1
17025,42129,42128,8,1,1,"[42126, 42127, 42129, 42130, 41870, 41871, 418...",1,0,1,1,1,1,1,1
17026,42130,42129,12,1,1,"[42127, 42128, 42130, 42131, 41871, 41872, 418...",1,0,1,1,1,1,1,0
17027,42131,42130,1,1,1,"[42128, 42129, 42131, 42132, 41872, 41873, 418...",1,0,1,1,1,1,1,1
17085,42377,42376,0,0,1,none,1,1,1,0,0,1,1,1
17086,42378,42377,4,1,1,"[42375, 42376, 42378, 42379, 42119, 42120, 421...",1,1,1,0,0,1,1,1
17087,42379,42378,2,1,1,"[42376, 42377, 42379, 42380, 42120, 42121, 421...",1,1,1,0,1,1,1,0
17088,42380,42379,1,1,1,"[42377, 42378, 42380, 42381, 42121, 42122, 421...",1,1,1,0,1,1,1,1
17089,42381,42380,0,0,1,none,1,0,1,0,1,1,1,1
17090,42382,42381,0,0,1,none,1,0,1,0,1,1,1,0
17091,42383,42382,0,0,1,none,1,0,1,0,1,1,1,1
17092,42384,42383,1,1,1,"[42381, 42382, 42384, 42385, 42125, 42126, 421...",1,0,1,1,1,1,1,1
17093,42385,42384,6,1,1,"[42382, 42383, 42385, 42386, 42126, 42127, 421...",1,0,1,1,1,1,1,1
17094,42386,42385,7,1,1,"[42383, 42384, 42386, 42387, 42127, 42128, 421...",1,0,1,1,1,1,1,1
17168,42634,42633,0,0,1,none,1,0,1,0,0,1,1,1
17169,42635,42634,0,1,1,"[42632, 42633, 42635, 42636, 42376, 42377, 423...",1,0,1,0,1,1,1,1
17170,42636,42635,0,0,1,none,1,0,1,0,1,1,1,1
17171,42637,42636,0,0,1,none,1,0,1,0,1,1,1,0
17172,42638,42637,0,0,1,none,1,0,1,0,1,1,1,0
17173,42639,42638,0,0,1,none,1,0,1,0,1,1,1,0
17174,42640,42639,0,0,1,none,1,0,1,1,1,1,0,0
17175,42641,42640,9,1,1,"[42638, 42639, 42641, 42642, 42382, 42383, 423...",1,0,1,1,1,1,1,1
17176,42642,42641,3,1,1,"[42639, 42640, 42642, 42643, 42383, 42384, 423...",1,0,1,1,1,1,1,0
17255,42891,42890,0,0,1,none,1,0,1,0,0,1,0,0
17256,42892,42891,0,0,1,none,1,0,1,0,1,1,1,0
17257,42893,42892,1,1,1,"[42890, 42891, 42893, 42894, 42634, 42635, 426...",1,0,1,0,1,1,1,0
17258,42894,42893,1,1,1,"[42891, 42892, 42894, 42895, 42635, 42636, 426...",1,0,1,0,1,1,1,1
17259,42895,42894,0,0,1,none,1,0,1,0,1,1,1,0
17260,42896,42895,0,0,1,none,1,0,1,0,1,1,0,0